:root {
    font-family: 'Nunito', sans-serif;
}

html {
    height: 100%;
}

body {
    text-align: center;
    background: rgb(126, 126, 126);
    color: rgb(23 60 102 / 84%);
    background-image: url("../images/general/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 2025px; */
    background-position-x: center;
    margin: 0;
    color: white;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    letter-spacing: 2px;
    font-size: 40px;
}

canvas {
    
    background: rgb(0, 0, 0);
    /*background: rgb(208, 245, 252);*/
    /* border-radius: 16px; */
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
}

.gameplayButton {
    font-size: 1.5rem;
    background-color: rgba(56, 97, 102, 0.904);
    border: 5px solid rgb(114, 155, 155);
    color: rgb(194, 214, 214);
    border-radius: 200px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    transition-duration: 0.3s;
    cursor: pointer;
}

.gameplayButton:hover {
    background-color: rgba(77, 123, 129, 0.904);
    border: 5px solid rgb(114, 155, 155);
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}

span {
    color: white;
    font-size: x-large;
}
footer {
    text-align: left;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer * {
    font-family: sans-serif;
}